body {
    margin-top: 0;
    margin-right: 50px auto;
    margin-bottom: 0;
    margin-left: 50px auto;
    width: 80%;
}
canvas {
  display: block;
}

.title{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #bf8040;
    text-align: center;
    font-weight: bold;
}

.script{
  display: flex;
}

.description{
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
